@using TimeTracker.Models
@using System.Diagnostics.CodeAnalysis
@using System.Text.RegularExpressions
@inject IUIActions uiActions

<div class="table-responsive">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @if (WorkItems is not null)
            {
                @foreach (var item in WorkItems)
                {
                    <tr class="align-middle">
                        <td><textarea @oninput="(e) => uiActions.SetHeight(e, ref nameHeight)" style="height: @nameHeight;" class="form-control text-center" @bind="@item.Name" /></td>
                        <td><textarea @bind="@item.Project.Name" @oninput="(e) => UpdateName(e, item)" style="height: @projectHeight" class="form-control text-center" /></td>
                        <td><input @bind="@item.Project.Time" @oninput="(e) => UpdateTime(e, item)" class="form-control text-center" type="number" min="0" /></td>
                        <td><button @onclick="@(async () => await OnDeleteItem.InvokeAsync(item.Id))" class="btn btn-danger">Delete</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



@code {

    [Parameter, AllowNull]
    public List<WorkItem> WorkItems { get; set; }

    [Parameter]
    public EventCallback<Guid> OnDeleteItem { get; set; }

    [Parameter]
    public EventCallback<Project> OnUpdateProjectTime { get; set; }
    [Parameter]
    public EventCallback OnUpdateProjectName { get; set; }

    public string nameHeight = "52.4px";
    public string projectHeight = "52.4px";

    void UpdateName(ChangeEventArgs e, WorkItem item)
    {
        if (!string.IsNullOrEmpty((string?)e.Value))
        {
            item.Project.Name = (string)e.Value;
            uiActions.SetHeight(e, ref projectHeight);
            OnUpdateProjectName.InvokeAsync();
        }

    }

    void UpdateTime(ChangeEventArgs e, WorkItem item)
    {
        if (!string.IsNullOrEmpty((string?)e.Value))
        {
            item.Project.Time = Decimal.Parse((string)e.Value);
            OnUpdateProjectTime.InvokeAsync(item.Project);

        }
    }


}